.title {
	text-align: center;
	font-weight: 600;
	opacity: .75;
	span {
		color: $accent;
	}
}

.discription {
	text-align: center;
}

.button {
	text-decoration: none;
	border: none;
	border-radius: $radius;
	color: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
	padding: 15px 65px;
	&:hover, :focus, :active {
		color: #fff;
	}
}

.soc-wrap {
	width: 100%;
}
.soc-wrap__icon {
	margin: 0 2px;
}
.soc-icon {
	height: 15px;
	width: 15px;
	margin: 0 5px;
	fill: #000;
}